.content {
  display: flex;
}

.image {
  height: 100vh;
  width: 60vw;
  background-image: url("../../../../assets/images/mindlogistics.jpg");
  filter: brightness(0.7);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 40vw;
  height: 100vh;
  -webkit-box-shadow: -10px 1px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: -10px 1px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: -10px 1px 5px -5px rgba(34, 60, 80, 0.6);
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blockreset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  text-align: center;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.resetbtn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  outline: none;
  color: #fff;
  border: 0;
  background-color: #008fff;
  cursor: pointer;
}

.fontpassword,
.fontconfirm {
  position: relative;
}

.fontpassword i,
.fontconfirm i {
  position: absolute;
  left: 85%;
  top: 40%;
}

.eyeiconreset {
  cursor: pointer;
}

.validity {
  opacity: 0;
  margin-bottom: 15px;
  font-size: 15px;
  cursor: default;
}

.matching {
  opacity: 0;
  font-size: 15px;
  cursor: default;
}

.resetLabel {
  font-weight: bold;
}

.resetInput {
  text-indent: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
}

.resetInput:focus {
  border: 1px solid #008fff;
}

.resetInput:invalid {
  color: #000;
  background-color: ivory;
  border: 1px solid red;
}
